*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{

background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
color:white;

min-height:100vh;
}

header{

display:flex;
justify-content:space-between;
padding:20px 10%;

position:sticky;
top:0;

backdrop-filter:blur(10px);
}

nav a{

color:white;
margin-left:20px;
text-decoration:none;
}

section{

padding:80px 10%;
}

.hero{

text-align:center;
}

.glass{

background:rgba(255,255,255,0.1);

border-radius:15px;

backdrop-filter:blur(10px);

padding:40px;

margin:40px 0;

border:1px solid rgba(255,255,255,0.2);
}

.cards{

display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{

flex:1;

background:rgba(255,255,255,0.08);

padding:20px;

border-radius:10px;

transition:0.4s;
}

.card:hover{

transform:translateY(-10px);

background:rgba(255,255,255,0.15);
}

.btn{

display:inline-block;

margin-top:20px;

padding:12px 20px;

background:#ff4d5a;

color:white;

text-decoration:none;

border-radius:5px;

}

.blog{

display:flex;
gap:20px;
flex-wrap:wrap;
}

.post{

background:rgba(255,255,255,0.08);

padding:20px;

border-radius:10px;
}

.socials a{

margin-right:20px;

color:#00e5ff;

text-decoration:none;
}
